.contact_bkg{
color: rgb(255, 255, 255);
display: block;
font-family: Poppins, sans-serif;
font-size: 70px;
font-weight: 600;
letter-spacing: -2.8px;
line-height: 80px;	
}

.contact_bk{
	color: rgb(255, 255, 255);
display: block;
font-family: freight-text-pro, serif;
font-size: 30px;
font-style: italic;
font-weight: 500;
letter-spacing: 0px;
line-height: 40px;
}

.content{
	color: rgb(6, 50, 82);
font-family: freight-text-pro, serif;
font-size: 30px;
font-style: italic;
font-weight: 500;
letter-spacing: -1px;
line-height: 40px;
max-width: 561px;
padding-top: 100px;
}
.contact__blockImg{
	width: 60px;

height: 60px;

border-radius: 50%;

margin-right: 20px;
}
.contact__blockTextLink{
	display: block;
	}  
.textColor--blue{
	color: #063252;
}
.contact__blockTextIcon {

    margin-right: 8px;
    margin-top: 10px;
    display: block;
    float: left;

}

.contact__blockSocial {

    padding-top,padding-right: ,padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 44px;

}
.contact__blockSocialItem {

    display: inline-block;
    margin-right: 10px;

}
.contact__blockSocialLink {

    display: block;
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    border-radius: 2px;
    background: #f6f6f6;
    font-size: 1.125rem;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    color: #8da2a4;

}
.textColor--white {

    color: blue;

}

.contact__blockCell {

    width: 100%;

}
.contact__blockText {

    font-size: 1rem;
    line-height: 36px;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    font-family: freight-text-pro, serif;

}

#content_left,#content_right{
	float: left;
	width: 50%;
}
#content_left,#content_right::after{
    clear: left;
    content: "";
    display: block;
}

.button.gform_button, .pagination__button a.gform_button {

    background: #43c196;
    -webkit-box-shadow: 0 10px 10px 0 rgba(67,193,150,.2);
    box-shadow: 0 10px 10px 0 rgba(67,193,150,.2);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

}